h1 {
  font-family: 'Graduate', cursive;
  color: aliceblue;
  font-weight: 900;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  background: url('https://i.pinimg.com/originals/5d/4f/7a/5d4f7a9211e05357006c57d39bdc9d96.gif');
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

#trivBody {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 180px;
}

/* #question {

} */